<div class="mt-5">
  <div class="input-group mb-3 mt-3">
    <span class="input-group-text" id="basic-addon1">New Value</span>
    <input
      type="text"
      [disabled]="(isTransactionLoading$ | async)!"
      [(ngModel)]="inputText"
      class="form-control input-number"
      placeholder="Insert a Text to store"
      aria-label="Text"
      aria-describedby="basic-addon1"
    />
  </div>
  <button
    [disabled]="(isTransactionLoading$ | async)!"
    type="button"
    class="btn btn-outline-secondary btn-lg w-50"
    (click)="sendSetTextTransactionListener()"
  >
    Set Text
  </button>
</div>
