<div class="text-center mt-5 mb-5">
    <h2 class="mb-5">Restricted Area</h2>

    <p> Welcome: <strong>{{ currentUserWallet$ | async }}</strong> </p>
    <div class="row justify-content-center">
        <ngb-alert class="w-50" *ngIf="isTransactionSuccess$ | async " type="success" (closed)="closeSuccessAlert()">
            Transaction Success - {{transactionMessage$ | async }}
        </ngb-alert>
        <ngb-alert class="w-50" *ngIf="isTransactionError$ | async " type="danger" (closed)="closeErrorAlert()">
            Transaction Error - {{transactionMessage$ | async }}</ngb-alert>
    </div>
    <div class="row justify-content-center">
        <div class="col-3">
            <a [href]="nameContractUrl" target="_blank" class="contract-label">Name Contract</a>
            <div class="mt-5">
                <p >Actual Name:  {{actualName$ | async }} </p>
                <div class="input-group mb-3 mt-3">
                    <span class="input-group-text" id="basic-addon1">New Value</span>
                    <input type="text" [(ngModel)]="inputText" class="form-control input-number"
                    placeholder="Insert a Text to store" aria-label="Text" aria-describedby="basic-addon1">
                </div>
                <button type="button" class="btn btn-outline-secondary btn-lg w-75"
                (click)="sendSetTextTransactionListener()">Set Text</button>
            </div>
        </div>
    </div>
</div>