<div class="text-center mt-5 mb-5">
  <h2>Home Area</h2>
  <p class="mt-4">Welcome to a simple Angular DApp</p>
  <p class="mt-4">From here you can access the magnificent world of smart contracts!</p>
  <p class="mt-4"> Donwload and install 
    <a href="https://metamask.io/" target="_blank" class="contract-label">Metamask Wallet</a>

    Metamask Wallet to access to restricted area.</p>
    <p class="mt-4">Use the <i>Connect Wallet</i> button and enter in the <i>Restricted Area</i> to access the features</p>
</div>
